*, html, body{
    padding: 0;
    margin: 0;
}
body {
    overscroll-behavior: none;
    height: 100vh;
  }
  .container {
    overscroll-behavior: none;
    width: 600%;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
  }
.description{
    background-color: #142241;
    color : white;
}
.panel{
    height: 100vh;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 30px;
    background-color: #191825;
    border: none;
}
.panel .image{
    width: 50vw;
    height: 80vh;
}
.panel .image.first{
    background-image: url("first.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.panel .image.second{
    background-image: url("second.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.panel .image.third{
    background-image: url("third.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.panel .image.fourth{
    background-image: url("fifth.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.panel .image.fifth{
    background-image: url("last.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.panel .image.last{
    background-image: url("final.svg");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}
.panel .text{
    width: 40vw;
}
